body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.ground {
  position: absolute;
  left: -400px;
  top: 567%;
  width: 1700px;
  height: 100%;
  background: linear-gradient(to bottom, #826b54, #8b5a2b, #745034);
  z-index: 1;
}

.sky {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, #87ceeb, #4682b4, #708090);
  z-index: -1;
}

.moon {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 100px;
  height: 100px;
  background-color: #f0f8ff;
  border-radius: 50%;
  z-index: -1;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.5);
}

#cloud {
  width: 175px;
  height: 60px;
  background: #f2f9fe;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(5%, #f2f9fe),
    color-stop(100%, #d6f0fd)
  );
  background: linear-gradient(
    90deg,
    #f2f9fe 0%,
    #dfe8f7 25%,
    #c8d9ed 50%,
    #acc2db 75%,
    #92aad0 100%
  );
  background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f9fe', endColorstr='#d6f0fd', GradientType=0);
  position: relative;
  margin: 0px 0 0 360px;
  border-radius: 50px;
  -webkit-animation: mover 3.5s infinite alternate;
  animation: mover 3.5s infinite alternate;
  z-index: 4;
  margin-top: 50px;
}

#cloud:after,
div#cloud:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: linear-gradient(
    90deg,
    #f2f9fe 0%,
    #dfe8f7 25%,
    #c8d9ed 50%,
    #acc2db 75%,
    #92aad0 100%
  );
}

#cloud:after {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  top: -25px;
  left: 25px;
  background: linear-gradient(
    90deg,
    #f2f9fe 0%,
    #dfe8f7 25%,
    #c8d9ed 50%,
    #acc2db 75%,
    #92aad0 100%
  );
}

#cloud:before {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;

  top: -45px;
  right: 25px;
}

.shadow {
  width: 175px;
  position: absolute;
  bottom: -80px;
  background: black;
  z-index: -1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 25px 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 25px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 25px 8px rgba(0, 0, 0, 0.4);
}

.rain {
  position: absolute;
  height: 80%;
  width: 100%;
  color: #002266;
}

.drop {
  position: absolute;
  background: linear-gradient(#000000, #ffffff);
  opacity: 2;
  top: 25px;
}

.d1 {
  left: 97%;
  width: 1%;
  height: 5%;
  animation: fall 0.94s linear 0.69s infinite;
}

.d2 {
  left: 18%;
  width: 1%;
  height: 5%;
  animation: fall 0.98s linear 0.57s infinite;
}
.d3 {
  left: 38%;
  width: 1%;
  height: 5%;
  animation: fall 0.66s linear 0.6s infinite;
}

.d4 {
  left: 64%;
  width: 1%;
  height: 5%;
  animation: fall 0.69s linear 0.76s infinite;
}

.d5 {
  left: 95%;
  width: 1%;
  height: 5%;
  animation: fall 0.75s linear 0.56s infinite;
}

.d6 {
  left: 65%;
  width: 1%;
  height: 5%;
  animation: fall 0.75s linear 0.92s infinite;
}

.d7 {
  left: 19%;
  width: 1%;
  height: 5%;
  animation: fall 0.92s linear 0.72s infinite;
}

.d8 {
  left: 55%;
  width: 1%;
  height: 5%;
  animation: fall 0.84s linear 0.99s infinite;
}

.d9 {
  left: 35%;
  width: 1%;
  height: 5%;
  animation: fall 0.79s linear 0.53s infinite;
}

.d10 {
  left: 83%;
  width: 1%;
  height: 5%;
  animation: fall 0.82s linear 0.97s infinite;
}

.d11 {
  left: 8%;
  width: 1%;
  height: 5%;
  animation: fall 0.75s linear 0.56s infinite;
}

.d12 {
  left: 1%;
  width: 1%;
  height: 5%;
  animation: fall 0.6s linear 0.59s infinite;
}

.d13 {
  left: 13%;
  width: 1%;
  height: 5%;
  animation: fall 0.5s linear 0.5s infinite;
}

.d14 {
  left: 13%;
  width: 1%;
  height: 5%;
  animation: fall 0.8s linear 0.63s infinite;
}

.d15 {
  left: 13%;
  width: 1%;
  height: 5%;
  animation: fall 0.68s linear 0.75s infinite;
}

@-webkit-keyframes fall {
  to {
    margin-top: 150px;
    opacity: 0;
  }
}
@keyframes fall {
  to {
    margin-top: 150px;
    opacity: 0;
  }
}

.rainbow {
  position: absolute;
  left: -400px;
  top: 120px;
  width: 700px;
  height: 50px;
  border-radius: 275px 275px 0 0;
  background-image: linear-gradient(
    to bottom,
    violet 0%,
    indigo 17%,
    blue 34%,
    green 51%,
    yellow 68%,
    orange 85%,
    red 100%
  );
  z-index: 10;
  opacity: 0.6;
  transform: translateY(-50%) skewY(-30deg);
}

.under-ground {
  position: absolute;
  bottom: -700px;
  left: -400px;
  width: 1500px;
  height: 380px;
  background: linear-gradient(to bottom, #4d3319 20%, #663300 50%, #4d3319 80%);
  z-index: 2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.ruined-building1 {
  position: absolute;
  bottom: -300px;
  left: 30%;
  transform: translateX(900%);
  width: 100px;
  height: 118px;
  background: linear-gradient(to left, #3a3a3a 20%, #4d4d4d 50%, #1a1a1a 80%);
  z-index: 2;
  clip-path: polygon(0% 20%, 100% 0%, 100% 100%, 0% 80%);
}

.ruined-building2 {
  position: absolute;
  bottom: -300px;
  left: 20%;
  transform: translateX(800%);
  width: 100px;
  height: 200px;
  background: linear-gradient(to left, #808080 20%, #4d4d4d 50%, #1a1a1a 80%);
  z-index: 2;
  clip-path: polygon(0% 20%, 22% 0%, 100% 100%, 0% 80%);
}

.ruined-building3 {
  position: absolute;
  bottom: -300px;
  left: 10%;
  transform: translateX(700%);
  width: 100px;
  height: 130px;
  background: linear-gradient(to left, #808080 20%, #4d4d4d 50%, #1a1a1a 80%);
  z-index: 2;
  clip-path: polygon(0% 20%, 80% 0%, 100% 50%, 0% 80%);
}

.ruined-building4 {
  position: absolute;
  bottom: -300px;
  left: 8%;
  transform: translateX(800%);
  width: 100px;
  height: 140px;
  background: linear-gradient(to left, #2a2626 20%, #4d4d4d 50%, #1a1a1a 80%);
  z-index: 2;
  clip-path: polygon(0% 20%, 90% 0%, 100% 90%, 0% 80%);
}

.ruined-building5 {
  position: absolute;
  bottom: -300px;
  left: 10%;
  transform: translateX(1160%);
  width: 100px;
  height: 170px;
  background: linear-gradient(to left, #808080 20%, #4d4d4d 50%, #1a1a1a 80%);
  z-index: 2;
  clip-path: polygon(0% 20%, 22% 0%, 100% 20%, 0% 80%);
}

.ruined-building6 {
  position: absolute;
  bottom: -300px;
  left: 4%;
  transform: translateX(1100%);
  width: 100px;
  height: 114px;
  background: linear-gradient(to left, #2f2d2d 20%, #4d4d4d 50%, #1a1a1a 80%);
  z-index: 2;
  clip-path: polygon(0% 20%, 22% 0%, 100% 60%, 0% 80%);
}

.ruined-building7 {
  position: absolute;
  bottom: -250px;
  left: -50%;
  transform: translateX(1070%);
  width: 100px;
  height: 100px;
  background: linear-gradient(to left, #808080 20%, #4d4d4d 50%, #858484 80%);
  clip-path: polygon(0% 20%, 22% 0%, 80% 20%, 0% 80%);
}
.ruined-building8 {
  position: absolute;
  bottom: -360px;
  left: -140%;
  transform: translateX(950%);
  width: 100px;
  height: 400px;
  background: linear-gradient(to top, #2f2d2d 20%, #4d4d4d 50%, #1a1a1a 80%);
  z-index: 2;
  clip-path: polygon(0% 30%, 22% 0%, 100% 80%, 0% 80%);
}
.ruined-building9 {
  position: absolute;
  bottom: -300px;
  left: -300%;
  transform: translateX(1150%);
  width: 100px;
  height: 125px;
  background: linear-gradient(to top, #2f2d2d 20%, #4d4d4d 50%, #1a1a1a 80%);
  z-index: 2;
  clip-path: polygon(0% 20%, 90% 0%, 100% 90%, 0% 80%);
}
.ruined-building10 {
  position: absolute;
  bottom: -330px;
  left: -50%;
  transform: translateX(1000%);
  width: 100px;
  height: 130px;
  background: linear-gradient(to top, #2f2d2d 20%, #4d4d4d 50%, #1a1a1a 80%);
  z-index: 2;
  clip-path: polygon(0% 20%, 22% 0%, 100% 60%, 0% 80%);
}

.tunnel {
  position: absolute;
  bottom: -1100%;
  left: 380%;
  transform: translateX(-50%);
  width: 800px;
  height: 300px;
  border-radius: 20px;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.7);
  z-index: 4;
}

.tunnel::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  z-index: -1;
}

.tunnel::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  height: 40px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.5),
    transparent,
    rgba(0, 0, 0, 0.5)
  );
  border-radius: 0 0 30px 30px;
  z-index: 3;
}

.tunnel-shaft {
  width: 140px;
  height: 30px;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
  border-radius: 40%;
  overflow: hidden;
  position: relative;
  top: -59px;
  left: -80%;
}

.tunnel-shaft:before,
.tunnel-shaft:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5));
}

.tunnel-shaft:before {
  left: 0;
  border-radius: 50% 0 0 50%;
}

.tunnel-shaft:after {
  right: 0;
  border-radius: 0 50% 50% 0;
}

.ladder {
  position: relative;
  width: 50px;
  height: 150px;
  top: 440px;
  left: 400px;
  z-index: 11;
}

.rung {
  position: absolute;
  width: 100%;
  height: 10px;
  background: linear-gradient(
    90deg,
    rgba(139, 69, 19, 0.5),
    transparent,
    rgba(139, 69, 19, 0.5)
  );
}

.rung::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 100%;
  width: 2px;
  height: 520%;
  background-color: rgba(139, 69, 19, 0.5);
  transform: translateX(-50%);
  z-index: -1;
}

.rung::after {
  content: "";
  position: absolute;
  top: -30px;
  left: -2px;
  width: 2px;
  height: calc(100% + 44px);
  background-color: rgba(139, 69, 19, 0.5);
  z-index: -1;
}

.rung:nth-child(odd) {
  background: linear-gradient(
    90deg,
    rgba(139, 69, 19, 0.7),
    transparent,
    rgba(139, 69, 19, 0.7)
  );
}

.rung:nth-child(1) {
  top: 0;
}

.rung:nth-child(2) {
  top: 30px;
}

.rung:nth-child(3) {
  top: 60px;
}

.rung:nth-child(4) {
  top: 90px;
}

.rung:nth-child(5) {
  top: 120px;
}

.rung:nth-child(6) {
  top: 150px;
}

.rung:nth-child(7) {
  top: 180x;
}

.rung:nth-child(8) {
  top: 210px;
}

.rung:nth-child(9) {
  top: 240px;
}

.rung:nth-child(10) {
  top: 0px;
}

@keyframes flame {
  from {
    box-shadow: 0 0 20px 5px #ffd700, 0 0 30px 10px #ffa500,
      0 0 40px 15px #ff8c00, 0 0 20px 5px #ffd700, 0 0 30px 10px #ffa500,
      0 0 40px 15px #ff8c00, 0 0 20px 5px #ffd700, 0 0 30px 10px #ffa500,
      0 0 40px 15px #ff8c00, 0 0 20px 5px #ffd700, 0 0 30px 10px #ffa500,
      0 0 40px 15px #ff8c00;
  }
  to {
    box-shadow: 0 0 30px 10px #a92929, 0 0 40px 15px #ff8c00,
      0 0 50px 20px #565656, 0 0 30px 10px #a92929, 0 0 40px 15px #ff8c00,
      0 0 50px 20px #565656, 0 0 30px 10px #a92929, 0 0 40px 15px #ff8c00,
      0 0 50px 20px #565656, 0 0 30px 10px #a92929, 0 0 40px 15px #ff8c00,
      0 0 50px 20px #565656;
  }
}

@keyframes scaleUpDown {
  0%,
  100% {
    transform: scaleY(1) scaleX(1);
  }
  50%,
  90% {
    transform: scaleY(1.1);
  }
  75% {
    transform: scaleY(0.95);
  }
  80% {
    transform: scaleX(0.95);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: skewX(0) scale(1);
  }
  50% {
    transform: skewX(5deg) scale(0.9);
  }
}

@keyframes particleUp {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: -100%;
    transform: scale(0.5);
  }
}

@keyframes glow {
  0%,
  100% {
    background-color: #ef5a00;
  }
  50% {
    background-color: #ff7800;
  }
}

.fire {
  position: absolute;
  top: 200px;
  left: 650px;
  width: 250px;
  height: 200px;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
}

.fire-center {
  position: absolute;
  height: 100%;
  width: 100%;
  animation: scaleUpDown 3s ease-out;
  animation-iteration-count: infinite;
  animation-fill-mode: both;

  .main-fire {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(
      farthest-corner at 10px 0,
      #d43300 0%,
      #ef5a00 95%
    );
    transform: scaleX(0.8) rotate(45deg);
    border-radius: 0 40% 60% 40%;
    filter: drop-shadow(0 0 10px #d43322);
  }

  .particle-fire {
    position: absolute;
    top: 60%;
    left: 45%;
    width: 10px;
    height: 10px;
    background-color: #ef5a00;
    border-radius: 50%;
    filter: drop-shadow(0 0 10px #d43322);
    animation: particleUp 2s ease-out 0;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
  }
}

.fire-right {
  height: 100%;
  width: 100%;
  position: absolute;
  animation: shake 2s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;

  .main-fire {
    position: absolute;
    top: 15%;
    right: -80%;
    width: 80%;
    height: 80%;
    background-color: #ef5a00;
    transform: scaleX(0.8) rotate(45deg);
    border-radius: 0 40% 60% 40%;
    filter: drop-shadow(0 0 10px #d43322);
  }

  .particle-fire {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 15px;
    height: 15px;
    background-color: #ef5a00;
    transform: scaleX(0.8) rotate(45deg);
    border-radius: 50%;
    filter: drop-shadow(0 0 10px #d43322);
    animation: particleUp 2s ease-out 0;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
  }
}

.fire-left {
  position: absolute;
  height: 100%;
  width: 100%;
  animation: shake 3s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;

  .main-fire {
    position: absolute;
    top: 15%;
    left: -20%;
    width: 80%;
    height: 80%;
    background-color: #ef5a00;
    transform: scaleX(0.8) rotate(45deg);
    border-radius: 0 40% 60% 40%;
    filter: drop-shadow(0 0 10px #d43322);
  }

  .particle-fire {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 10%;
    height: 10%;
    background-color: #ef5a00;
    border-radius: 50%;
    filter: drop-shadow(0 0 10px #d43322);
    animation: particleUp 3s infinite ease-out 0;
    animation-fill-mode: both;
  }
}

.fire-bottom .main-fire {
  position: absolute;
  top: 30%;
  left: 20%;
  width: 75%;
  height: 75%;
  background-color: #ff7800;
  transform: scaleX(0.8) rotate(45deg);
  border-radius: 0 40% 100% 40%;
  filter: blur(10px);
  animation: glow 2s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.baby {
  margin: 400px 0 0 970px;
  width: 86px;
  height: 180px;
  background: linear-gradient(45deg, #d9a073 30%, #7f5834 50%, #422c17 70%);
  border-radius: 43px;
  overflow: hidden;
  position: absolute;
  transform: scale(0.6) rotate(40deg);
  z-index: 999;
}

.baby .face {
  margin: 10px 22px 0 8px;
  width: 60px;
  height: 66px;
  background: #d9a073;
  border-radius: 50%;
  position: absolute;
  z-index: 9999;
}

.baby .face:before {
  content: "";
  display: block;
  width: 20px;
  height: 10px;
  background: #b8571d;
  border-bottom-left-radius: 400%;
  border-bottom-right-radius: 200%;
  position: absolute;
  top: 0;
  left: 30%;
  transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
}

.baby .face .eyes {
  margin-left: -30%;
  width: 45%;
  height: 10px;
  position: absolute;
  top: 20px;
  left: 50%;
}

.baby .face .eyes:before {
  content: "";
  width: 5px;
  height: 5px;
  background: #040302;
  border-radius: 50%;
  float: left;
}

.baby .face .eyes:after {
  content: "";
  width: 5px;
  height: 5px;
  background: #040302;
  border-radius: 50%;
  float: right;
}

.baby .face .mouth {
  margin-left: -16px;
  width: 32px;
  height: 18px;
  background: #7e2e33;
  border-radius: 10px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  animation: mouth 0.7s ease-in-out infinite;
  -webkit-animation: mouth 0.7s ease-in-out infinite;
}

.baby .face .mouth .tongue {
  margin-left: -3px;
  width: 6px;
  height: 10px;
  background: #ed5c56;
  border-top-left-radius: 120%;
  border-top-right-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 1;
  animation: tongue 0.7s ease-in-out infinite;
  -webkit-animation: tongue 0.7s ease-in-out infinite;
}

.baby .blanket {
  width: 200%;
  height: 15px;
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  position: absolute;
  top: 45%;
  left: -30px;
  animation: blanket 1.2s ease-in-out infinite;
  -webkit-animation: blanket 1.2s ease-in-out infinite;
  z-index: 20;
}

@keyframes face {
  0% {
    margin: 10px 22px 0 8px;
  }
  50% {
    margin: 10px 8px 0 22px;
  }
  100% {
    margin: 10px 22px 0 8px;
  }
}

@-webkit-keyframes face {
  0% {
    margin: 10px 22px 0 8px;
  }
  50% {
    margin: 10px 8px 0 22px;
  }
  100% {
    margin: 10px 22px 0 8px;
  }
}

@keyframes mouth {
  0% {
    margin-left: -16px;
    width: 32px;
    height: 18px;
  }
  50% {
    margin-left: -10px;
    width: 20px;
    height: 20px;
  }
  100% {
    margin-left: -16px;
    width: 32px;
    height: 18px;
  }
}

@-webkit-keyframes mouth {
  0% {
    margin-left: -16px;
    width: 32px;
  }
  50% {
    margin-left: -9px;
    width: 18px;
  }
  100% {
    margin-left: -16px;
    width: 32px;
  }
}

@keyframes tongue {
  0% {
    border-top-left-radius: 120%;
    border-top-right-radius: 50%;
  }
  50% {
    border-top-left-radius: 50%;
    border-top-right-radius: 120%;
  }
  100% {
    border-top-left-radius: 120%;
    border-top-right-radius: 50%;
  }
}

@-webkit-keyframes tongue {
  0% {
    border-top-left-radius: 120%;
    border-top-right-radius: 50%;
  }
  50% {
    border-top-left-radius: 50%;
    border-top-right-radius: 120%;
  }
  100% {
    border-top-left-radius: 120%;
    border-top-right-radius: 50%;
  }
}

.boy {
  position: relative;
  transform: scale(0.4);
  width: 194px;
  margin: 0 auto;
  bottom: 55px;
  margin-left: 500px;
  z-index: 1;
  .head {
    height: 210px;
    width: 100px;
    position: relative;
    .hair {
      position: relative;
      left: -50px;
      top: 2px;
      height: 200px;
      width: 190px;
      background-image: radial-gradient(
        circle,
        #b8571d,
        #b8571d 40%,
        #8a3f1a 60%,
        #864126
      );
      border-radius: 50%;
      border: 5px solid #000;

      &::after {
        content: "";
        display: block;
        width: 24px;
        height: 19px;
        background: linear-gradient(
          45deg,
          #d9a073 30%,
          #7f5834 50%,
          #422c17 70%
        );
        position: absolute;
        top: 81px;
        left: 13px;
        z-index: 1;
        transform: rotate(-41deg);
        border-top: 4px solid #000;
        border-right: 4px solid #000;
      }
      &::before {
        content: "";
        display: block;
        width: 24px;
        height: 19px;

        background: linear-gradient(
          45deg,
          #d9a073 30%,
          #7f5834 50%,
          #422c17 70%
        );
        position: absolute;
        top: 81px;
        right: 13px;
        z-index: 1;
        transform: rotate(41deg);
        border-top: 4px solid #000;
        border-left: 4px solid #000;
      }

      .triangle {
        width: 0;
        height: 0;
        border-left: 22px solid transparent;
        border-right: 22px solid transparent;
        border-bottom: 21px solid #000;
        position: absolute;
        top: 76px;
        z-index: 1;
        &::before {
          content: "";

          width: 0;
          height: 0;
          border-left: 16px solid transparent;
          border-right: 19px solid transparent;
          border-bottom: 17px solid #7f5834;
          position: absolute;
          top: 5px;
          left: -16px;
        }

        &.left {
          left: 37px;
        }

        &.center {
          left: 77px;
          border-left: 20px solid transparent;
          border-right: 17px solid transparent;

          &::before {
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
          }
        }

        &.right {
          left: 107px;
        }
      }
    }

    .face {
      position: absolute;
      left: 50%;
      top: 105px;
      transform: translatex(-50%);
      height: 105px;
      width: 158px;
      background: linear-gradient(45deg, #d9a073 30%, #7f5834 50%, #422c17 70%);
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      border-right: 5px solid #000;
      border-bottom: 3px solid #000;
      border-left: 5px solid #000;

      .content {
        position: relative;

        .eye {
          height: 20px;
          width: 12px;
          background-color: #000;
          border-radius: 50%;
          position: absolute;
          top: 19px;

          &::before {
            content: "";
            display: block;
            width: 23px;
            height: 9px;
            background-color: transparent;
            box-shadow: inset -2px 3px 0 1px #000;
            border-radius: 50%;
            transform: rotate(-10deg);
            position: absolute;
            top: -16px;
            left: -5px;
          }

          &.left {
            left: 40px;
          }
          &.right {
            right: 40px;
            &::before {
              transform: rotateX(28deg) rotateY(202deg);
            }
          }
        }

        .nose {
          position: absolute;
          top: 38px;
          left: 18%;
          transform: translatex(-50%);
          width: 20px;
          height: 15px;
          border-radius: 50%;
          border-bottom: 5px;
          border-bottom-color: #000;
          border-bottom-style: solid;
          background: linear-gradient(
            45deg,
            #d9a073 30%,
            #7f5834 50%,
            #422c17 70%
          );
        }

        .ear {
          position: absolute;
          top: 24px;
          width: 12px;
          height: 22px;
          border: 3px solid #000;
          border-top-left-radius: 50%;
          border-bottom-left-radius: 50%;
          background: linear-gradient(
            45deg,
            #d9a073 30%,
            #7f5834 50%,
            #422c17 70%
          );
          &::before {
            content: "";
            display: block;
            width: 5px;
            height: 5px;
            border: 3px solid #000;
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;
            background: linear-gradient(
              45deg,
              #d9a073 30%,
              #7f5834 50%,
              #422c17 70%
            );
            position: absolute;
            left: 3px;
            top: 5px;
          }

          &.left {
            left: -21px;
          }
          &.right {
            left: 161px;
            transform: rotate(180deg);
          }
        }

        .mouth {
          position: absolute;
          top: 67px;
          left: 50%;
          transform: translatex(-50%);
          width: 20px;
          height: 10px;
          background-color: #000;
          border-radius: 50%;
        }
      }
    }
  }

  .torso {
    position: relative;
    top: 0;
    z-index: -1;
    width: 91px;
    height: 103px;
    background-color: #442422;
    margin: 0 auto;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;

    &::before {
      content: "";
      display: block;
      height: 14px;
      width: 42px;
      background: linear-gradient(45deg, #d9a073 30%, #7f5834 50%, #422c17 70%);
      position: absolute;
      top: -8px;
      left: 50%;
      transform: translatex(-50%);
      border-radius: 50%;
      border: 3px solid #000;
      box-shadow: 0 2px 0px 2px #362220, 0 2px 0 4px #000;
    }
  }

  .hand {
    position: absolute;
    top: 215px;
    height: 50px;
    width: 28px;
    background-color: #3e2c2b;

    &.left {
      left: 41px;
      transform: rotate(21deg);
      border-top-left-radius: 50%;
      border-top-right-radius: 32%;
      &::before {
        left: 1px;
      }

      &::after {
        left: -6px;
      }
    }

    &.right {
      right: 41px;
      transform: rotate(-21deg);
      border-top-right-radius: 50%;
      border-top-left-radius: 32%;
      &::before {
        right: 1px;
      }

      &::after {
        left: 4px;
      }
    }

    &::before {
      content: "";
      display: block;
      height: 46px;
      width: 17px;
      background: linear-gradient(45deg, #d9a073 30%, #7f5834 50%, #422c17 70%);
      position: absolute;
      top: 50px;
    }

    &::after {
      content: "";
      display: block;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background: linear-gradient(45deg, #d9a073 30%, #7f5834 50%, #422c17 70%);
      position: absolute;
      top: 93px;
    }
  }

  .hip {
    width: 80px;
    height: 20px;
    margin: 0 auto;
    background-color: #483729;
  }

  .legs {
    position: relative;
    left: -30px;
    top: 2px;
    width: 80px;
    height: 86px;
    margin: 0 auto -10px;
    transform: rotate(36deg);

    .leg {
      width: 45%;
      height: 100%;
      display: inline-block;
      position: relative;
      z-index: 1;
      background-color: #493e36;

      &::after {
        content: "";
        position: absolute;
        z-index: 0;
        bottom: -20px;
        width: 100%;
        height: 30px;
        background-color: #000;
        border-radius: 50px 50px 5px 5px;
      }

      &.right {
        float: right;
      }
    }
  }
}

.teddy {
  font-size: calc(50vmin / 260);
  transform: scale(0.2) translate(2200px, 1700px) rotate(110deg);
  position: relative;
  margin: auto;
  width: 260em;
  height: 330em;
  z-index: 11;
}
.teddy div {
  position: absolute;
}
.ear-right,
.ear-left,
.head,
.eye-right,
.eye-left,
.mouth-area,
.nose,
.nose-inner,
.cheek-right,
.body,
.paw,
.foot {
  border-radius: 50%;
}
.ear-right,
.ear-left {
  background: rgb(191, 143, 91);
  box-shadow: 0 0 0 20em rgb(128, 88, 49) inset;
  width: 80em;
  height: 80em;
}
.ear-right {
  left: 30em;
}
.ear-left {
  right: 30em;
}
.head {
  position: absolute;
  background: rgb(128, 88, 49);
  width: 160em;
  height: 160em;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 1;
}

.eye-right,
.eye-right,
.nose-inner {
  background: rgb(255, 255, 255);
}
.eye-right,
.eye-left {
  box-shadow: 2em -2em 0 8em inset;
  top: 65em;
  width: 20em;
  height: 20em;
}
.eye-right {
  left: 45em;
}
.eye-left {
  right: 34em;
}
.mouth-area {
  background: rgb(230, 160, 90);
  right: 0;
  bottom: 5em;
  left: 0;
  margin: auto;
  width: 100em;
  height: 70em;
}
.nose {
  background: rgb(0, 0, 0);
  top: 15em;
  right: 0;
  left: 0;
  margin: auto;
  width: 40em;
  height: 30em;
}
.nose-inner {
  top: 3em;
  right: 8em;
  width: 10em;
  height: 8em;
}
.cheek-left {
  bottom: 10em;
  width: 30em;
  height: 30em;
}
.cheek-right {
  box-shadow: -2em -2em 0 0 rgb(115, 80, 45) inset;
  left: 20em;
}
.cheek-left {
  box-shadow: 2em -2em 0 0 rgb(115, 80, 45) inset;
  right: 20em;
}
.body {
  background: rgb(128, 88, 49);
  box-shadow: 0 0 0 24em rgb(190, 120, 60) inset;
  margin: auto;
  right: 0;
  bottom: 22em;
  left: 0;
  width: 170em;
  height: 190em;
}
.arm-right,
.arm-left {
  background: rgb(128, 88, 49);
  top: 130em;
  width: 70em;
  height: 60em;
}
.arm-right {
  border-radius: 70em 0 0 0 / 60em 0 0 0;
  left: 0;
}
.arm-right .arm-inner {
  border-radius: 50em 0 0 0 / 80em 0 0 0;
  box-shadow: 22em 22em 0 0 rgb(170, 100, 50) inset;
  left: 55em;
}
.arm-left,
.arm-left .paw {
  right: 0;
}
.arm-left {
  border-radius: 0 70em 0 0 / 0 60em 0 0;
}
.arm-left .arm-inner {
  border-radius: 0 50em 0 0 / 0 80em 0 0;
  box-shadow: -22em 22em 0 0 rgb(170, 100, 50) inset;
  right: 55em;
}
.arm-inner {
  width: 50em;
  height: 80em;
  bottom: 0;
}
.paw {
  background: rgb(128, 88, 49);
  width: 80em;
  height: 60em;
  top: 30em;
}
.leg-left {
  background: rgb(128, 88, 49);
  border-radius: 45em 45em 0 0 / 70em 70em 0 0;
  bottom: 40em;
  width: 90em;
  height: 70em;
  right: 10em;
}

.foot {
  background: rgb(128, 88, 49);
  box-shadow: 0 5em 0 10em rgb(190, 120, 60) inset;
  width: 100%;
  height: 80em;
  top: 30em;
}
