.shared-building {
  position: relative;
  width: 100px;
  z-index: 2;
}

.ruined-building1 {
  right: 50%;
  bottom: 50px;
  transform: translateX(1200%) rotate(-10deg);
  height: 118px;
  background: linear-gradient(to left, #3a3a3a 20%, #4d4d4d 50%, #1a1a1a 80%);
  clip-path: polygon(0% 20%, 100% 0%, 100% 100%, 0% 80%);
}

.ruined-building2 {
  transform: translateX(1000%);
  height: 200px;
  bottom: 270px;
  background: linear-gradient(to left, #808080 20%, #4d4d4d 50%, #1a1a1a 80%);
  clip-path: polygon(0% 20%, 22% 0%, 100% 100%, 0% 80%);
}

.ruined-building3 {
  left: 1%;
  bottom: 350px;
  transform: translateX(1000%) rotate(23deg);
  height: 130px;
  background: linear-gradient(to left, #808080 20%, #4d4d4d 50%, #1a1a1a 80%);
  clip-path: polygon(0% 20%, 80% 0%, 100% 50%, 0% 80%);
}

.ruined-building4 {
  right: 100%;
  bottom: 514px;
  transform: translateX(1100%) rotate(-4deg);
  height: 140px;
  background: linear-gradient(to left, #2a2626 20%, #4d4d4d 50%, #1a1a1a 80%);
  clip-path: polygon(0% 20%, 90% 0%, 100% 90%, 0% 80%);
}

.ruined-building5 {
  right: 280px;
  bottom: 620px;
  transform: translateX(1340%) rotate(47deg);
  height: 170px;
  background: linear-gradient(to left, #808080 20%, #4d4d4d 50%, #1a1a1a 80%);
  clip-path: polygon(0% 20%, 22% 0%, 100% 20%, 0% 80%);
}
