.baby {
  margin: 400px 0 0 970px;
  width: 86px;
  height: 180px;
  background: linear-gradient(45deg, #d9a073 30%, #7f5834 50%, #422c17 70%);
  border-radius: 43px;
  overflow: hidden;
  position: absolute;
  transform: scale(0.6) rotate(40deg);
  z-index: 999;
}

.baby .face {
  margin: 10px 22px 0 8px;
  width: 60px;
  height: 66px;
  background: #d9a073;
  border-radius: 50%;
  position: absolute;
  z-index: 9999;
}

.baby .face:before {
  content: "";
  display: block;
  width: 20px;
  height: 10px;
  background: #b8571d;
  border-bottom-left-radius: 400%;
  border-bottom-right-radius: 200%;
  position: absolute;
  top: 0;
  left: 30%;
  transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
}

.baby .face .eyes {
  margin-left: -30%;
  width: 45%;
  height: 10px;
  position: absolute;
  top: 20px;
  left: 50%;
}

.baby .face .eyes:before {
  content: "";
  width: 5px;
  height: 5px;
  background: #040302;
  border-radius: 50%;
  float: left;
}

.baby .face .eyes:after {
  content: "";
  width: 5px;
  height: 5px;
  background: #040302;
  border-radius: 50%;
  float: right;
}

.baby .face .mouth {
  margin-left: -16px;
  width: 32px;
  height: 18px;
  background: #7e2e33;
  border-radius: 10px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  animation: mouth 0.7s ease-in-out infinite;
  -webkit-animation: mouth 0.7s ease-in-out infinite;
}

.baby .face .mouth .tongue {
  margin-left: -3px;
  width: 6px;
  height: 10px;
  background: #ed5c56;
  border-top-left-radius: 120%;
  border-top-right-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 1;
  animation: tongue 0.7s ease-in-out infinite;
  -webkit-animation: tongue 0.7s ease-in-out infinite;
}

.baby .blanket {
  width: 200%;
  height: 15px;
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  position: absolute;
  top: 45%;
  left: -30px;
  animation: blanket 1.2s ease-in-out infinite;
  -webkit-animation: blanket 1.2s ease-in-out infinite;
  z-index: 20;
}

@keyframes face {
  0% {
    margin: 10px 22px 0 8px;
  }
  50% {
    margin: 10px 8px 0 22px;
  }
  100% {
    margin: 10px 22px 0 8px;
  }
}

@-webkit-keyframes face {
  0% {
    margin: 10px 22px 0 8px;
  }
  50% {
    margin: 10px 8px 0 22px;
  }
  100% {
    margin: 10px 22px 0 8px;
  }
}

@keyframes mouth {
  0% {
    margin-left: -16px;
    width: 32px;
    height: 18px;
  }
  50% {
    margin-left: -10px;
    width: 20px;
    height: 20px;
  }
  100% {
    margin-left: -16px;
    width: 32px;
    height: 18px;
  }
}

@-webkit-keyframes mouth {
  0% {
    margin-left: -16px;
    width: 32px;
  }
  50% {
    margin-left: -9px;
    width: 18px;
  }
  100% {
    margin-left: -16px;
    width: 32px;
  }
}

@keyframes tongue {
  0% {
    border-top-left-radius: 120%;
    border-top-right-radius: 50%;
  }
  50% {
    border-top-left-radius: 50%;
    border-top-right-radius: 120%;
  }
  100% {
    border-top-left-radius: 120%;
    border-top-right-radius: 50%;
  }
}

@-webkit-keyframes tongue {
  0% {
    border-top-left-radius: 120%;
    border-top-right-radius: 50%;
  }
  50% {
    border-top-left-radius: 50%;
    border-top-right-radius: 120%;
  }
  100% {
    border-top-left-radius: 120%;
    border-top-right-radius: 50%;
  }
}

.boy {
  position: relative;
  transform: scale(0.4);
  width: 194px;
  margin: 0 auto;
  bottom: 55px;
  margin-left: 500px;
  z-index: 1;
  .head {
    height: 210px;
    width: 100px;
    position: relative;
    .hair {
      position: relative;
      left: -50px;
      top: 2px;
      height: 200px;
      width: 190px;
      background-image: radial-gradient(
        circle,
        #b8571d,
        #b8571d 40%,
        #8a3f1a 60%,
        #864126
      );
      border-radius: 50%;
      border: 5px solid #000;

      &::after {
        content: "";
        display: block;
        width: 24px;
        height: 19px;
        background: linear-gradient(
          45deg,
          #d9a073 30%,
          #7f5834 50%,
          #422c17 70%
        );
        position: absolute;
        top: 81px;
        left: 13px;
        z-index: 1;
        transform: rotate(-41deg);
        border-top: 4px solid #000;
        border-right: 4px solid #000;
      }
      &::before {
        content: "";
        display: block;
        width: 24px;
        height: 19px;

        background: linear-gradient(
          45deg,
          #d9a073 30%,
          #7f5834 50%,
          #422c17 70%
        );
        position: absolute;
        top: 81px;
        right: 13px;
        z-index: 1;
        transform: rotate(41deg);
        border-top: 4px solid #000;
        border-left: 4px solid #000;
      }

      .triangle {
        width: 0;
        height: 0;
        border-left: 22px solid transparent;
        border-right: 22px solid transparent;
        border-bottom: 21px solid #000;
        position: absolute;
        top: 76px;
        z-index: 1;
        &::before {
          content: "";

          width: 0;
          height: 0;
          border-left: 16px solid transparent;
          border-right: 19px solid transparent;
          border-bottom: 17px solid #7f5834;
          position: absolute;
          top: 5px;
          left: -16px;
        }

        &.left {
          left: 37px;
        }

        &.center {
          left: 77px;
          border-left: 20px solid transparent;
          border-right: 17px solid transparent;

          &::before {
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
          }
        }

        &.right {
          left: 107px;
        }
      }
    }

    .face {
      position: absolute;
      left: 50%;
      top: 105px;
      transform: translatex(-50%);
      height: 105px;
      width: 158px;
      background: linear-gradient(45deg, #d9a073 30%, #7f5834 50%, #422c17 70%);
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      border-right: 5px solid #000;
      border-bottom: 3px solid #000;
      border-left: 5px solid #000;

      .facial-features {
        position: relative;

        .eye {
          height: 20px;
          width: 12px;
          background-color: #000;
          border-radius: 50%;
          position: absolute;
          top: 19px;

          &::before {
            content: "";
            display: block;
            width: 23px;
            height: 9px;
            background-color: transparent;
            box-shadow: inset -2px 3px 0 1px #000;
            border-radius: 50%;
            transform: rotate(-10deg);
            position: absolute;
            top: -16px;
            left: -5px;
          }

          &.left {
            left: 40px;
          }
          &.right {
            right: 40px;
            &::before {
              transform: rotateX(28deg) rotateY(202deg);
            }
          }
        }

        .nose {
          position: absolute;
          top: 38px;
          left: 18%;
          transform: translatex(-50%);
          width: 20px;
          height: 15px;
          border-radius: 50%;
          border-bottom: 5px;
          border-bottom-color: #000;
          border-bottom-style: solid;
          background: linear-gradient(
            45deg,
            #d9a073 30%,
            #7f5834 50%,
            #422c17 70%
          );
        }

        .ear {
          position: absolute;
          top: 24px;
          width: 12px;
          height: 22px;
          border: 3px solid #000;
          border-top-left-radius: 50%;
          border-bottom-left-radius: 50%;
          background: linear-gradient(
            45deg,
            #d9a073 30%,
            #7f5834 50%,
            #422c17 70%
          );
          &::before {
            content: "";
            display: block;
            width: 5px;
            height: 5px;
            border: 3px solid #000;
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;
            background: linear-gradient(
              45deg,
              #d9a073 30%,
              #7f5834 50%,
              #422c17 70%
            );
            position: absolute;
            left: 3px;
            top: 5px;
          }

          &.left {
            left: -21px;
          }
          &.right {
            left: 161px;
            transform: rotate(180deg);
          }
        }

        .mouth {
          position: absolute;
          top: 67px;
          left: 50%;
          transform: translatex(-50%);
          width: 20px;
          height: 10px;
          background-color: #000;
          border-radius: 50%;
        }
      }
    }
  }

  .torso {
    position: relative;
    top: 0;
    z-index: -1;
    width: 91px;
    height: 103px;
    background-color: #442422;
    margin: 0 auto;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;

    &::before {
      content: "";
      display: block;
      height: 14px;
      width: 42px;
      background: linear-gradient(45deg, #d9a073 30%, #7f5834 50%, #422c17 70%);
      position: absolute;
      top: -8px;
      left: 50%;
      transform: translatex(-50%);
      border-radius: 50%;
      border: 3px solid #000;
      box-shadow: 0 2px 0px 2px #362220, 0 2px 0 4px #000;
    }
  }

  .hand {
    position: absolute;
    top: 215px;
    height: 50px;
    width: 28px;
    background-color: #3e2c2b;

    &.left {
      left: 41px;
      transform: rotate(21deg);
      border-top-left-radius: 50%;
      border-top-right-radius: 32%;
      &::before {
        left: 1px;
      }

      &::after {
        left: -6px;
      }
    }

    &.right {
      right: 41px;
      transform: rotate(-21deg);
      border-top-right-radius: 50%;
      border-top-left-radius: 32%;
      &::before {
        right: 1px;
      }

      &::after {
        left: 4px;
      }
    }

    &::before {
      content: "";
      display: block;
      height: 46px;
      width: 17px;
      background: linear-gradient(45deg, #d9a073 30%, #7f5834 50%, #422c17 70%);
      position: absolute;
      top: 50px;
    }

    &::after {
      content: "";
      display: block;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background: linear-gradient(45deg, #d9a073 30%, #7f5834 50%, #422c17 70%);
      position: absolute;
      top: 93px;
    }
  }

  .hip {
    width: 80px;
    height: 20px;
    margin: 0 auto;
    background-color: #483729;
  }

  .legs {
    position: relative;
    left: -30px;
    top: 2px;
    width: 80px;
    height: 86px;
    margin: 0 auto -10px;
    transform: rotate(36deg);

    .leg {
      width: 45%;
      height: 100%;
      display: inline-block;
      position: relative;
      z-index: 1;
      background-color: #493e36;

      &::after {
        content: "";
        position: absolute;
        z-index: 0;
        bottom: -20px;
        width: 100%;
        height: 30px;
        background-color: #000;
        border-radius: 50px 50px 5px 5px;
      }

      &.right {
        float: right;
      }
    }
  }
}

.teddy {
  font-size: calc(50vmin / 260);
  transform: scale(0.2) translate(2200px, 1700px) rotate(110deg);
  position: relative;
  margin: auto;
  width: 260em;
  height: 330em;
  z-index: 11;
}

.teddy div {
  position: absolute;
}
.ear-right,
.ear-left,
.head,
.eye-right,
.eye-left,
.mouth-area,
.nose,
.nose-inner,
.cheek-right,
.body,
.paw,
.foot {
  border-radius: 50%;
}
.ear-right,
.ear-left {
  background: rgb(191, 143, 91);
  box-shadow: 0 0 0 20em rgb(128, 88, 49) inset;
  width: 80em;
  height: 80em;
}
.ear-right {
  left: 30em;
}
.ear-left {
  right: 30em;
}
.head {
  position: absolute;
  background: rgb(128, 88, 49);
  width: 160em;
  height: 160em;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 1;
}

.eye-right,
.eye-right,
.nose-inner {
  background: rgb(255, 255, 255);
}
.eye-right,
.eye-left {
  box-shadow: 2em -2em 0 8em inset;
  top: 65em;
  width: 20em;
  height: 20em;
}
.eye-right {
  left: 45em;
}
.eye-left {
  right: 34em;
}
.mouth-area {
  background: rgb(230, 160, 90);
  right: 0;
  bottom: 5em;
  left: 0;
  margin: auto;
  width: 100em;
  height: 70em;
}
.nose {
  background: rgb(0, 0, 0);
  top: 15em;
  right: 0;
  left: 0;
  margin: auto;
  width: 40em;
  height: 30em;
}
.nose-inner {
  top: 3em;
  right: 8em;
  width: 10em;
  height: 8em;
}
.cheek-left {
  bottom: 10em;
  width: 30em;
  height: 30em;
}
.cheek-right {
  box-shadow: -2em -2em 0 0 rgb(115, 80, 45) inset;
  left: 20em;
}
.cheek-left {
  box-shadow: 2em -2em 0 0 rgb(115, 80, 45) inset;
  right: 20em;
}
.body {
  background: rgb(128, 88, 49);
  box-shadow: 0 0 0 24em rgb(190, 120, 60) inset;
  margin: auto;
  right: 0;
  bottom: 22em;
  left: 0;
  width: 170em;
  height: 190em;
}
.arm-right,
.arm-left {
  background: rgb(128, 88, 49);
  top: 130em;
  width: 70em;
  height: 60em;
}
.arm-right {
  border-radius: 70em 0 0 0 / 60em 0 0 0;
  left: 0;
}
.arm-right .arm-inner {
  border-radius: 50em 0 0 0 / 80em 0 0 0;
  box-shadow: 22em 22em 0 0 rgb(170, 100, 50) inset;
  left: 55em;
}
.arm-left,
.arm-left .paw {
  right: 0;
}
.arm-left {
  border-radius: 0 70em 0 0 / 0 60em 0 0;
}
.arm-left .arm-inner {
  border-radius: 0 50em 0 0 / 0 80em 0 0;
  box-shadow: -22em 22em 0 0 rgb(170, 100, 50) inset;
  right: 55em;
}
.arm-inner {
  width: 50em;
  height: 80em;
  bottom: 0;
}
.paw {
  background: rgb(128, 88, 49);
  width: 80em;
  height: 60em;
  top: 30em;
}
.leg-left {
  background: rgb(128, 88, 49);
  border-radius: 45em 45em 0 0 / 70em 70em 0 0;
  bottom: 40em;
  width: 90em;
  height: 70em;
  right: 10em;
}

.foot {
  background: rgb(128, 88, 49);
  box-shadow: 0 5em 0 10em rgb(190, 120, 60) inset;
  width: 100%;
  height: 80em;
  top: 30em;
}
