body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.ground {
  position: fixed;
  left: 0;
  top: 390px;
  width: 100%;
  height: 50vh;
  background: linear-gradient(to bottom, #826b54, #8b5a2b, #745034);
  z-index: 1;
}

.sky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #87ceeb, #4682b4, #708090);
  z-index: -1;
}

.moon {
  position: relative;
  top: 10%;
  left: 80%;
  width: 100px;
  height: 100px;
  background-color: #f0f8ff;
  border-radius: 50%;
  z-index: -1;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.5);
}

.rainbow {
  position: relative;
  top: 120px;
  width: 700px;
  height: 50px;
  background-image: linear-gradient(
    to bottom,
    violet 0%,
    indigo 17%,
    blue 34%,
    green 51%,
    yellow 68%,
    orange 85%,
    red 100%
  );
  opacity: 0.6;
  transform: translate(-30%) skewY(-46deg);
}

.under-ground {
  position: fixed;
  bottom: -410px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #4d3319 20%, #663300 50%, #4d3319 80%);
  z-index: 5;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
